#progressBar {
    margin: 10px auto;
    height: 50px;
    background-color: #0A5F44;
}
  
#progressBar div {
    height: 100%;
    text-align: right;
    padding: 0 10px;
    line-height: 50px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    background-color: #CBEA00;
    box-sizing: border-box;
}

#gameStyle {
    margin: 10px auto;
    height: 50px;
}

#title {
    width: 800px;
    margin: 10px auto;
    height: 50px;
    text-align: center;
}